html{
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
    height: 100%;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;  
    letter-spacing: 0.4px;
    overflow-x: hidden; 
}
.error{
  margin-top:-50px; 
  margin-bottom: 49px;
}
/* Wrapper =============================================*/
.untitled{
	padding: 0px;
	margin: 0px;
}
#wrapper{
}
.bold{
	font-weight: bold;
}
.bolder{
	font-weight: bolder;
}

/*Navigation =============================================*/
.navigation{
}
/*..................................................................................................................................*/
.navbar-custom {
    margin-bottom: 0;
    border-bottom: none;
    text-transform: uppercase;
    background-color: rgba(33,33,33,0.9); /*MOBILEVIEW: On Scroll Background Color Change i.e BLUE */
}
.navbar-custom .navbar-brand {
    font-weight: 400;
    letter-spacing: 1px;
}
.navbar-custom .navbar-brand:focus {
    outline: 0;
}
.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 30px; /* U N K N O W N */
    color: #000; /* U N K N O W N */
}
.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}
.navbar-custom a {
    color: #fff; /* On BLUE and On TRANSPARENT Text Color */
}
.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.navbar-custom .nav li a:hover {
    outline: 0;
    color: #11aef5; /* On BLUE nav bar Text Onhover Color */
    background-color: transparent; /* On BLUE and On TRANSPARENT Onhover Background Color */
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent; /* Active Element Background Color */
}
.navbar-custom .nav li.active {
    outline: 0;
}
.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,0.2); /* Active Nav Tab background Color */
}
.navbar-custom .nav li.active a:hover {
    color: #fff; /* Active Nav Tab OnHover Text Color */
}
@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0 ;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }
    .navbar-custom.top-nav-collapse {
        padding: 0px; /* Padding of BLUE Nav bar Test */
        background-color: rgba(33,33,33,0.8); /*DESKTOPVIEW: On Scroll Background Color Change i.e BLUE */
        color: #000;
    }
}
/*..................Hamburger................................................................................................................*/


#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  width: 24px;
  height: 16px;
  position: relative;
  margin: 1px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  /* border-radius: 9px; */
  opacity: 1;
  /* left: 0; */
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 7px;
}

#nav-icon1 span:nth-child(3) {
  top: 14px;
}

#nav-icon1.open span:nth-child(1) {
  top: 6px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: 0px;
}

#nav-icon1.open span:nth-child(3) {
  top: 6px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}





/* Landing Page =============================================*/
.landingpage{
  background-image: url(images/bg.jpg);
  background-size: cover; 
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
}
.animate-bg {
  -webkit-animation: animate-bg 600s linear infinite;
  -o-animation: animate-bg 600s linear infinite;
  animation: animate-bg 600s linear infinite;
  background-repeat: repeat-x;
}

@-webkit-keyframes animate-bg {
  from { 
    background-position: 0 0;
  } 
  to { 
    background-position:  -50000px 0 ;
  }
}
@-moz-keyframes animate-bg {
  from { 
    background-position: 0 0;
  } 
  to { 
    background-position: -50000px 0;
  }
}
@-o-keyframes animate-bg {
  from { 
    background-position: 0 0;
  } 
  to { 
    background-position: -50000px 0;
  }
}
@keyframes animate-bg {
  from { 
    background-position: 0 0;
  } 
  to { 
    background-position: -50000px 0;
  }
}

.btn-primary {
  background-color: #11aef5;
}
.button {
  position: relative;
  height: 45px;
  width: 200px;
  margin: 10px 7px;
  padding: 10px 30px;
  font-weight: 700;
  border-radius: 0px;
  border: none;
  font-size: 15px;
  letter-spacing: 2px;
  color: #ffffff;
  text-transform: uppercase;
  outline: 0;
  overflow:hidden;
  background-color: #11aef5;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-out;
  -o-transition:      0.08s ease-out;
  -ms-transition:     0.08s ease-out;
  -moz-transition:    0.08s ease-out;
  -webkit-transition: 0.08s ease-out;
}

.fill:hover {
  color: #11aef5;
}

.fill:before {
  content: "";
  position: absolute;
  background: #fff;
  bottom: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  -webkit-transition: bottom 0.2s ease-out;
}

.fill:hover:before {
  bottom: 0;
}

/*...............................................*/

/* Services =============================================*/
.services{
  background-color: #11aef5;
  color: #fff;
}


/* portfolio =============================================*/
.portfolio{
	background-color: #f2f2f2;
	color: #000;
}
#port-img{
	width: 100%;
}
.hidden-img{
	visibility: hidden;
}
.boss {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

.caption {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0px 3px 3px 0px;
}
.sub-content {
	background-image: url(images/placeholder_image_fade.png);
	background-size: cover;
	height: 0%;
	width: 0%;
	opacity: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}
.sub-content:hover {
	background-image: url(images/placeholder_image_fade.png);
	background-size: cover;
	height: 100%;
	width: 100%;
	opacity: 1;
}
.caption-content {
    position: absolute;
    width: 100%;
    height: 100%;
}

.btn-livep {
    margin-top: 40%;
    text-align: center;
    font-size: 15px;
    color: #fff;
}
#col-pad{
	padding:0px;
}
/*---------------------------------------------------------------*/
.modal-content {
    padding: 50px 0;
    color: #000;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
}
.modal-content h2 {
    font-size: 20px;
    letter-spacing: 1px;
    padding: 10px;
}
.item-details {
    margin: 30px 0;
}
.close-modal {
    position: fixed;
    z-index: 1000;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: #fff;
}

.close-modal:hover {
    opacity: .3;
}

.close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.modal-backdrop {
    display: none;
    opacity: 0.3;
}
.modal-body p {
  text-align: justify;
  padding: 30px 0px;
}
.modal-body h2 {
  text-transform: uppercase;
}
/*---------------------------------------------------------------------*/
.flikker{
	padding: 0px 0px 0px 10px; 
	margin-top: -40px; 
	margin-left: 440px;
	position: absolute; 
	font-size: 30px;
	color: #fff;
	animation: myglyphzoom 2s infinite;
}
@media (max-width: 768px){
	.flikker{
		margin-left: 0px;
	}
}
@-webkit-keyframes myglyphzoom {
	50% {font-size: 40px}
}

@keyframes myglyphzoom {
	50% {font-size: 40px}
}


/* Client ===========================================*/
.client{
  background-color: #424242;
}

.client-desktop{
  display: block;
}
.client-mobile{
  display: none;
}
@media(max-width: 768px){
  .client-desktop{
    display: none;
  }
  .client-mobile{
    display: block;
  }
}
/*................................*/
.thumbnail{
}
/*................................*/

/*................................*/

#cl-text-2{
	visibility: hidden;
}
#cl-img-2:hover + #cl-text-2{
	visibility: visible;
}
#cl-img-2:hover + #cl-img-1{
	opacity: 0.3;
}
.user-col-cl-2{
	position: relative;
  	min-height: 1px;
  	padding-right: 15px;
  	padding-left: 15px;
}
.user-col-cl-4{
	position: relative;
  	min-height: 1px;
  	padding-right: 15px;
  	padding-left: 15px;
}
.user-col-cl-3{
	position: relative;
  	min-height: 1px;
  	padding-right: 15px;
  	padding-left: 15px;
}
@media (max-width: 768px) {
	.user-col-cl-2{
		float: left;
		width: 25%;
	}
	.user-col-cl-4{
		float: left;
		width: 100%;
	}
	.user-col-cl-3{
		float: left;
		width: 20%;
	}	
}
@media (min-width: 768px) {
	.user-col-cl-2{
		float: left;
		width: 16.666666667%;
	}
	.user-col-cl-4{
		float: left;
		width: 33.3333333334%;
	}	
}
/*...........................................................................*/
.thumbnail{
	padding: 8px;
}
.thumbnail h5{
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}
.thumbnail p{
	font-size: 11px;
	text-align: justify;
  line-height: 1.3;
}


/* About =============================================*/
.about{
	color: #000;
}
#hover {
    display: none;
}

#image:hover + #hover {
    display: block;
}
/*......................................*/

/*..............................................................................*/
.user-col-7{
	position: relative;
 	min-height: 1px;
 	width: 14.28%;
 	padding:1px;
 	float: left;
}
#about-svg{
	width: 100%;
	height: 100%;
}
#about-sign{
	padding: 30px;
	color:#fff;
}
@media (max-width: 768px){

#about-sign{
	padding: 10px;
	color:#fff;
}
}
#about-svg-text{
	color: #fff;
	text-align: center;
	font-size: 12px;
	padding: 10px 0px 0px 0px ;
	letter-spacing: 1px;
}
@media (max-width: 768px){
	#about-svg-text{
		visibility: hidden;
	}
}
#video{
	padding: 0px;
    max-width: 100%;
    height: auto;
}
@media (max-width: 768px){
	#video{
		padding: 10px 0px 0px 0px;
	}
}

.carousel-control.left {
  background:0 0;
}
.carousel-control.right {
  background:0 0; 
}
.carousel-control:hover,
.carousel-control:focus {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
  opacity: 1;
}
/*..............................................................................*/
.card-role {
	position: absolute;
	top: 4px;
	left: 4px;
  	height: 25px;
  	width: 90px;
  	padding: 0 15px;
  	color: #FFF;
  	font-size: 11px;
  	line-height: 25px;
  	text-transform: uppercase;
  	background-color: #3b95ed; 
  	text-align: center;
}
.card {
  	overflow: hidden;
	  width: 100%;
  	background-color: #212121;
  }
.card-image {
	height: 140px;
  	overflow: hidden;
  	background-color: #000;
  	transition: height 0.3s; 
}
.card-image img {
    display: block;
    opacity: 1;
    transition: opacity 0.3s, 
    -webkit-transform 0.3s;
    transform 0.3s;
    -webkit-transform: scale(1);
    transform: scale(1); 
}
.card:hover .card-image img {
    opacity: 0.7;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); 
}
.card:hover .card-image {
    height: 80px; 
}
.card-body {
  	padding: 15px;
  	height: 60px;
  	transition: height 0.3s; 
    width: 99.0%;
}
.card:hover .card-body {
    height: 120px; 
}
.card-name {
 	 margin: 0;
  	padding: 7px 0px;
  	font-size: 12px;
  	color: #fff;
  	font-weight: 500; 
    text-transform: uppercase;
}
.card-link {
  	position: absolute;
  	left: 21px;
  	right: 21px;
  	bottom: 3px;
  	margin: 0;
  	padding: 0px 0px 10px 0px;
  	color: #fff;
  	font-size: 10px;
  	line-height: 20px;
  	opacity: 0;
  	transition: opacity 0.5s, -webkit-transform 0.5s;
  	-webkit-transform: translateY(25px);
    -ms-transform: translateY(25px);
    transform: translateY(25px); 
}
.card:hover .card-link {
    opacity: 1;
    transition-delay: 0.1s;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); 
}
/*.........................................................................*/
.img-family {
	transform: scale(1);
	-webkit-transform: scale(1);
	transition-duration: 0.4s;
	opacity: 0.5;
	transition: opacity 0.3s;
	padding: 0px;
}
.img-family:hover{
	opacity: 1;
	transform: scale(1.2);
	-webkit-transform: scale(1.2);

}
#img-family-id{
	overflow: hidden;
  background-color: #fff;
	padding: 0px;
	margin: 0px;
}
/*..................................................................................*/
.swiper-slide h1{
  font-size: 184px;
}
/*..................................................................................*/
.team-three-desktop{
  display: block;
}
.team-three-mobile{
  display: none;
}
@media (max-width: 1200px){
  .team-three-desktop{
    display: none;
  }
  .team-three-mobile{
    display: block;
  }
}


/* Contact =============================================*/
.contact{
}
.btn-contact{
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 10px;
}
/* Google Map */
.googleMap{
	height: 600px;
	width: auto;
	padding:0px;
}
@media(max-width: 768px){	
	.googleMap{
		height: 305px;
		width: 100%;
		padding:0px;
	}
}
#map_bg{
	position: relative;
	width: 100%;
}
#map_fg{
	position: absolute;
	top: 50px;
	left: 0px;
	width: 100%;
}

.button-c {
  position: relative;
  height: 45px;
  width: 100%;
  padding: 10px 0px;
  font-weight: 700;
  border-radius: 0px;
  border: none;
  font-size: 15px;
  letter-spacing: 2px;
  color: #ffffff;
  text-transform: uppercase;
  outline: 0;
  overflow:hidden;
  background-color: #11aef5;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-out;
  -o-transition:      0.08s ease-out;
  -ms-transition:     0.08s ease-out;
  -moz-transition:    0.08s ease-out;
  -webkit-transition: 0.08s ease-out;
}

.fill-c:hover {
  color: #11aef5;
}
.fill-c:after{
  color: white;
}
.fill-c:before {
  content: "";
  position: absolute;
  background: #fff;
  bottom: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  -webkit-transition: bottom 0.2s ease-out;
}

.fill-c:hover:before {
  bottom: 0;
}

#contact-bar-icon{
	font-size:25px; 
	color:#11aef5;
}
#contact-bar-text{
	font-size:12px; 
	color:#11aef5;
}
.u_col-sec-2 {
	position: relative;
 	min-height: 1px;
 	padding:2px;
 	float: left;
 	width: 16.66%;
}
/*FOOTOR*/
.u_1_container{
  padding-right: 200px;
  padding-left: 200px;
  margin-right: auto;
  margin-left: auto;
}
.user-col-social_icon a{
	position: relative;
 	min-height: 1px;
 	padding:2px;
  color: white;
 	width: 25%;
 	float: left;
}
.user-col-social_icon a:hover{
  color: #11aef5;
}
@media (max-width: 786px){
	.user-col-social_icon{
		text-align: center;
		width: 71%;
	}
}

#footor-bottom{
	background-color: #212121;
}
@media(max-width: 768px){
	#footor-bottom{
		text-align: center;
	}
}



/*Swiper*/

.swiper2 h1 {
  font-family: 'Secular One', sans-serif;
  font-size: 64px;
}
.swiper-container {
    width: 100%;
    height: auto;
    margin: 20px auto;
}
.swiper1{
  color: #fff;
}
.swiper3 {
  color: #fff;
}
.swiper-slide {
    text-align: center;
    background: transparent;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide h1{
  font-size: 70px;
}
.swiper2{
  padding: 50px 0px;
}
.swiper-pagination-bullet{
  background: #ffffff;
  opacity: 0.9;
}
  /*............................................................................*/

  /*Loader */
  .no-js #loader { display: none;  }
  .js #loader { display: block; position: absolute; left: 100px; top: 0; }
  .se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(images/15.gif) center no-repeat #fff;

   
  }
